.slider-area{
	font-family: monospace;
}
.custom-carousel{
	position: relative;
}
.overlay{
	position: absolute;
	width: ;
	height: ;
	z-index: 2;
	background-color: #080d15;
	opacity: .7;
}
.slider-area .custom-inner .item{
	height: 100vh;
}
.carousel-caption{
	padding-bottom: 150px;
}
.carousel-caption h2{
	font-size: 50px;
	text-transform: uppercase;
}
.carousel-control.right{
	background-image: none;
}
.carousel-control.left{
background-image: none;
}
}